@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "";
}

<div class="container" style="max-width: 800px" id="technologies">
    <h2 class="">О проекте</h2>
    <p class=""></p>АФЛЫаФШАОШФАОФЦШАШОФ<br />
    <p>Использованные технологии</p><br />
    <div class="row px-5">
        <div class="col-4">
            <p>Python</p>
            <img src="images/python.png" class="my-3" alt="Python Logo" width="120" height="120"/>
        </div>
        <div class="col-4">
            <p>Docker</p>
            <img src="images/docker.png" class="my-3" alt="Docker Logo" width="120" height="120" />
        </div>
        <div class="col-4">
            <p>Kubernetes</p>
            <img src="images/kubernetes.png" class="my-3" alt="Kubernetes Logo" width="60%" />
        </div>
    </div>
    <div class="row px-5">
        <div class="col-4">
            <p>YOLO</p>
            <img src="images/yolo.png" class="my-3" alt="YOLO Logo" width="60%" />
        </div>
        <div class="col-4">
            <p>Ultalytics</p>
            <img src="images/ultralytics.png" class="my-3" alt="Ultalytics Logo" width="60%" />
        </div>
        <div class="col-4">
            <p>Yandex Cloud</p>
            <img src="images/yacloud.png" class="my-3" alt="Yandex Cloud Logo" width="70%" />
        </div>
    </div>
</div>
<div class="container p-5" style="max-width: 800px" id="contact">
    <h2 class="">Связаться со мной</h2>
    <div class="row p-3">
        <div class="col-6 mx-3">
            <i class="fa fa-city"></i> Краснодар, Россия<br />
            <i class="fa fa-phone"></i> Phone: +7 888 188 8888<br />
            <i class="fa fa-envelope"></i> Email: mail@mail.com<br />
            <i class="fa-brands fa-github"></i> <a href="github.com/Victor90001">Github</a>
        </div>
    </div>
</div>